body {
    margin: 0px;
    font-family: Montserrat;
}

input {
    font-family: Montserrat;
    width: 100%;
    border: 0px solid #95bf47;
    background: #00000000;
    height: 1.4rem;
    font-size: 0.9rem;
    outline: none;
}

a {
    color: #47b38b;
}

#main-div {
    display: flex;
}

#display-image {
    width: 55%;
    float: left;
    height: 100vh;
    background-image: url(../assets/wallpaper.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#login-section {
    text-align: center;
    width: 45%;
    height: 100vh;
    float: right;
    background: white;
}

#login-contents {
    max-width: fit-content;
    margin-inline: auto;
    margin-top: 18vh;
}

#corner-logo {
    height: 4%;
    position: absolute;
    bottom: 5vh;
    left: 5vh;
}

#login-header {
    font-size: 64px;
    font-weight: 700;
    color: #4FBE95;
    margin-bottom: 2rem;
}

#form {
    background: #EDEDED;
    color: #00000080;
    display: flex;
    align-items: center;
    height: 2.7rem;
    margin-top: 0.8rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 0.8rem;
    width: 18rem;
    border-radius: 0.5rem;
}

#forgot-password {
    text-align: end;
    font-size: 0.8rem;
    margin-top: 0.4rem;
    color: #606060;
    /* Hidden until functionality is implemented */
    display: none;
}

#signup-button {
    display: flex;
    width: 100%;
    border: 0px solid #95bf47;
    background: #4FBE95;
    height: 1.4rem;
    font-size: 0.9rem;
    color: white;
    padding: 1.5rem;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    border-radius: 0.5rem;
}

#signup-button:hover {
    background: #47b38b;
}

#signup-button:active {
    background: #3c9c79;
}

#create-account {
    font-size: 0.8rem;
    color: #606060;
}

#highlight {
    color: #4FBE95;
    text-decoration: underline;
}

#google-sign-in {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #606060;
    padding-top: 2rem;
    user-select: none;
}

#google-icon {
    width: 2rem;
    margin-right: 0.6rem;
}